.product-management {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1800px; /* Set the desired width */

  margin-left: 16px; /* Add margin to separate from the sidebar */
}

.product-form {
  width: 400px;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

button {
  background-color: #2ea3dd;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.product-list {
  width: 100%;
  border-collapse: collapse;
}

.product-list th,
.product-list td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.product-list th {
  background-color: #f5f5f5;
}

.product-list td:last-child {
  text-align: center;
}

.product-list button {
  background-color: #dc3545;
  margin-left: 4px;
  color: white;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.form-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.product-form {
  width: 400px;
  background-color: #f5f5f5;
  border-radius: 8px;
  padding: 20px;
}

/* Add animation for the form popup */
@keyframes form-popup-animation {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.form-popup {
  animation: form-popup-animation 0.3s ease-in-out;
}
